* {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
}

/* Default styling of before and after elements for quiz types */
*::before,::after {
  position: absolute;
  text-align: center;
  color: gray;
  width: fit-content;
}

/* Definition of variables for color scheme */
:root {
  --headcolor: #d9f4c7ff;
  --maincolor: rgb(209, 209, 231);
  --shadowcolor: #412234ff;
  --buttoncolor: #5f634fff;
  --rightcolor: #2f4b26ff;
  --wrongcolor: rgb(75, 28, 28);
  --backcolor: white;
}

body {
  font-size: 16px;
  color: black;
  text-align: center;
  background-color: var(--backcolor);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 175px;

  background-color: var(--headcolor);

}

#start {
  height: 50px;
  width: 160px;
  font-size: 1.2rem;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 25px;
  height: 35vh;
}

/* Basic card styling */
.card {
  margin-left: 1%;
  margin-right: 1%;
  background-color: var(--maincolor);
  border-radius: 2%;
  border: 2px solid black;
  box-shadow: 5px 5px 10px var(--shadowcolor);
}

.card h2 {
  margin: 2%;
  line-height: 2rem;
  border-bottom: 1px solid black;
  width: 80%;
}

/* Styling for quiz type selector card */
#sidebar {
  order: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 2 1 15%;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 3%;
  width: 80%;
}

#sidebar ul li {
  margin: 4%;
  font-size: 1.5rem;
  width: fit-content;
}

/* Styling of main play area card */
#playarea {
  order: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 6 1 35%;
}

/* Styling of question/answers */
#question {
  width: 450px;
}

#playarea ol {
  display: flex;
  align-items: left;
  flex-direction: column;
  list-style-type: none;
}

#playarea ol li {
  width: 400px;
  margin: 1% 0;
}

#playarea ol li button {
  width: 95%;
  text-align: left;
  padding: 5px 20px;
  text-align: center;
  height: fit-content;
}

/* Styling of main area cover sheet between games */
#cover-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--maincolor);
  top: 0;
  left: 0;
  border: none;
  box-shadow: none;
  margin: 0;
}

#cover-page ul {
  font-size: 1rem;
  margin: 1%;
  list-style-type: none;
}

#cover-page ul li {
  text-align: center;
  margin: 2%;
}

#cover-page p {
  text-align: center;
}

/* Initials input area styling for when user gets high score */
#save-score {
  display: none;
  height: 3rem;
  width: 175px;
  background-color: honeydew;
}

#save-score input {
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  width: 50%;
  line-height: 1.6rem;
}

/* Styling for scoreboard and timer card */
#scoreboard {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 15%;
}

#scoreboard p {
  position: relative;
  width: 75%;
  margin: 2%;
  text-align: left;
}

#scoreboard #timer {
  text-align: center;
  font-size: 3rem;
  height: 3.2rem;
}

/* Modified button classes on right and wrong answer */
.right-answer {
  background-color: green;
  color: inherit;
}

.wrong-answer {
  background-color: red;
  color: inherit;
}


/* Quiz selection decorations */
.quiz-type {
  position: relative;
}

#html-select:hover::before {
  content: "<quiz>";
  right: 4.4rem;
}

#html-select:hover::after {
  content: "</quiz>";
}

#css-select:hover::before {
  content: "{ type: ";
  right: 2.6rem;
  width: 5rem;
}

#css-select:hover::after {
  content: "; }";
}

#js-select:hover::before {
  content: "let quiz = ";
  right: 1.6rem;
  width: 7rem;
}

#js-select:hover::after {
  content: ";";
}

/* Main responsiveness to move play area to top in a 1-column arrangement for tablets and below */
@media screen and (max-width:1250px) {
  *::before,::after{
    font-size: 1.1rem;
  }
  #js-select:hover::before {
    width: 5rem;
  }
}

@media screen and (max-width:992px) {

  main {
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
  }

  #sidebar {
    flex-basis: 45%;
    order: 2;
    margin-top: 2%;
  }

  #playarea {
    flex-basis: 90%;
    order: 1;
    padding-bottom: 3%;
  }

  #scoreboard {
    flex-basis: 45%;
    order: 3;
    margin-top: 2%;
    padding-bottom: 2%;
  }

  *::before,::after{
    font-size: 1.5rem;
  }

  #js-select:hover::before {
    width: 7rem;
  }



}